 
  .header{
    position:relative;
    width: 700px;
    height: 150px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    background:brown;
    padding-bottom: 100px;
    
    
  }
  
  body {
    color: #ffffff;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(brown, rgb(112, 100, 33));
  }
  
  .container {
    display: inline-block;
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: brown;
  }
  
  .inputs {
    text-align: left;
    margin-top: 3px;
  }
  
  label, input, button {
    display:inline;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  .lable2{
    margin-bottom: 40px;
    padding-right: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  label {
    margin-bottom: 40px;
    padding-right: 100%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  label:nth-of-type(2) {
    margin-top: 12px;
    padding-right: 0%;
  }
  
  input::placeholder {
    color: darkgray;
    font-family:monospace
  }
  
  input {
    background: #ffffff;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 10px;

  }
  
  button {
    color: white;
    margin-top: 20px;
    background: brown;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
  }
  h1{
    font-style: unset;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
  }